{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if request.GET.m == "s" %}
            <h3>Liên kết đặt lại mật khẩu được gửi đến địa chỉ email của bạn. Vui lòng kiểm tra email của bạn ngay lập tức.</h3>
            {% else %}
            <h3>Nhập email của bạn được sử dụng để tạo tài khoản khách hàng để nhận liên kết đặt lại mật khẩu</h3>
            {% if request.GET.m == "e" %}
            <h4 class="text-danger">Đã xảy ra sự cố, vui lòng nhập lại email của bạn.</h4>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button> Lấy link reset</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}